$main-color: #3983a0;
$menu-color: #0f3a59;

$main-font-color: #242424;
$red: #ff5959;
$grey6: #242424;
$light-grey1: #ededed;
$white: #ffffff;
$bg: #efefef;
$bg3: #f3f5f9;
$td-bg: #dddddd;

$blue: #93d5d5;
$blue-light: rgba(147, 213, 213, 0.3);
$green: #cbe1d5;
$green-light: rgba(203, 225, 213, 0.3);
$yellow: #fff0a0;
$yellow-light: rgba(255, 240, 160, 0.3);


$reservation: #D9534F;
$consultation: #F3D34A;

$outpatient: #96CEB4;
$treatment: #5A9A8F;


$surgery: #FFAD60;
$surgery-progress: #E17A47;

$admission: #6A6D9E;