$main-color: #3983a0;
$menu-color: #0f3a59;
$main-color-light: #009cda;

$main-font-color: #242424;
$red: #ff5959;
$grey5: #474747;
$grey6: #242424;
$light-grey1: #ededed;
$white: #ffffff;

$bg: #fafafa;
$bg2: #F5F5F6;
$bg3: #f4fafb;
$td-bg: #f9f9fa;

$blue: #93d5d5;
$blue-light: rgba(147, 213, 213, 0.3);
$green: #cbe1d5;
$green-light: rgba(203, 225, 213, 0.3);
$yellow: #fff0a0;
$yellow-light: rgba(255, 240, 160, 0.3);

$purple: #a7a0db;
$redpay: #f28a8c;

$reservation: #d9534f;
$consultation: #f3d34a;

$outpatient: #96ceb4;
$treatment: #5a9a8f;

$surgery: #ffad60;
$surgery-progress: #e17a47;

$admission: #6a6d9e;
