// header
@mixin headerNav {
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 500;
	font-size: 12px;
	letter-spacing: 0.5px;
	line-height: 13px;
	color: $white;
}

@mixin headerNavLi {
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 600;
	font-size: 14px;
	text-align: center;
	color: $white;
}

@mixin sidebarSearch {
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 600;
	font-size: 14px;
	text-align: center;
	color: $white;
}

@mixin sidebarSearchButton {
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 500;
	font-size: 13px;
	text-align: center;
	color: $main-font-color;
}

@mixin sidebarMenu {
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 400;
	font-size: 13px;
	text-align: center;
	color: $white;
}

@mixin sidebarInfo {
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 400;
	font-size: 13px;
	text-align: center;
	color: $white;
}

@mixin sidebarInfoButton {
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 500;
	font-size: 12px;
	text-align: center;
	color: $white;
}

// Login
@mixin logintitle {
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 700;
	font-size: 22px;
	letter-spacing: 0px;
	word-break: keep-all;
	color: $main-font-color;
}

@mixin loginttxt {
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 500;
	font-size: 11px;
	letter-spacing: 0px;
	word-break: keep-all;
	color: #909090;
}

@mixin loginlabel {
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 600;
	font-size: 15px;
	letter-spacing: 0px;
	word-break: keep-all;
}

@mixin loginErrTxt {
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 500;
	font-size: 13px;
	letter-spacing: 0px;
	word-break: keep-all;
	color: $red;
}

@mixin loginSocial {
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 500;
	font-size: 12px;
	letter-spacing: 0px;
	word-break: keep-all;
	color: $main-font-color;
}

@mixin loginFind {
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 500;
	font-size: 12px;
	letter-spacing: 0px;
	word-break: keep-all;
	color: $main-font-color;
}

// main - title
@mixin title {
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 500;
	font-size: 21px;
	letter-spacing: 0px;
	color: $main-font-color;
}

@mixin button {
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 500;
	font-size: 13px;
	letter-spacing: 0px;
	color: $main-font-color;
}

@mixin label {
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 500;
	font-size: 14px;
	color: $white;
}

@mixin countTime {
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 500;
	font-size: 14px;
	color: $main-font-color;
}

@mixin countNumber {
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 700;
	font-size: 16px;
	color: $main-font-color;
}

@mixin patientName {
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 700;
	font-size: 15px;
	color: $white;
	letter-spacing: -0.5px;
}

@mixin staffName {
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 500;
	font-size: 14px;
	color: $white;
	letter-spacing: -0.5px;
}

@mixin td {
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 500;
	font-size: 14px;
	letter-spacing: -1%;
	line-height: 20.27px;
	color: $grey6;
}

@mixin td02 {
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 400;
	font-size: 14px;
	letter-spacing: -1%;
	line-height: 17.47px;
	color: $grey6;
}

@mixin pagination {
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 500;
	font-size: 13px;
	letter-spacing: -1%;
	line-height: 13px;
}

@mixin personal-info-name {
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 700;
	font-size: 18px;
	letter-spacing: -1%;
	line-height: 26.06px;
	color: #fff;
}

@mixin personal-info-number {
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 400;
	font-size: 14px;
	letter-spacing: -1%;
	line-height: 20.27px;
	color: #fff;
}

@mixin member-info-content-title {
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 500;
	font-size: 14px;
	letter-spacing: -1%;
	line-height: 20.27px;
	color: $grey6;
}

@mixin menu-tab {
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 400;
	font-size: 16px;
	letter-spacing: -1%;
	line-height: 16px;
	color: $grey6;
}

@mixin mainTitle {
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 700;
	font-size: 14px;
	letter-spacing: -1%;
	line-height: 16px;
	color: $grey6;
	text-align: right;
}

@mixin registrationTitle {
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 600;
	font-size: 15px;
	letter-spacing: -1%;
	line-height: 16px;
	color: $grey6;
}

@mixin patientInfotitle {
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 600;
	font-size: 16px;
	letter-spacing: -1%;
	color: $grey6;
}

@mixin patientInfoName {
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 700;
	font-size: 20px;
	letter-spacing: -1%;
	color: $grey6;
}

@mixin patientInfop {
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 600;
	font-size: 15px;
	letter-spacing: -1%;
	line-height: 16px;
	color: $grey6;
}

@mixin patientInfotab {
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 500;
	font-size: 14px;
	letter-spacing: -1%;
	color: $grey6;
	word-break: keep-all;
	text-align: center;
}

@mixin patientInfobutton {
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 400;
	font-size: 13px;
	letter-spacing: -1%;
}

@mixin patientInfoTableTH {
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 600;
	font-size: 15px;
	letter-spacing: -1%;
}

@mixin patientInfoTable {
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 400;
	font-size: 14px;
	letter-spacing: -1%;
	word-break: keep-all;
}

@mixin floatingTitle {
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 700;
	font-size: 26px;
	word-break: keep-all;
}

@mixin floatingRoom {
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 700;
	font-size: 16px;
	word-break: keep-all;
}

@mixin floatingPatient {
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 700;
	font-size: 22px;
	word-break: keep-all;
	color: $white;
}

@mixin floatingButton {
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 700;
	font-size: 14px;
	word-break: keep-all;
	color: $main-font-color;
}

// 메인 - 체험판
@mixin trialTxt {
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 20px;
	word-break: keep-all;
	color: $red;
}

@mixin trialTxtSub {
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 500;
	font-size: 14px;
	line-height: 14px;
	word-break: keep-all;
	color: $main-font-color;
}

@mixin welcomeTxt {
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 700;
	font-size: 20px;
	line-height: 20px;
	word-break: keep-all;
	color: $main-font-color;
}

@mixin welcomeSub {
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 500;
	font-size: 14px;
	line-height: 14px;
	word-break: keep-all;
	color: $main-font-color;
}

@mixin welcomeBtn {
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	word-break: keep-all;
	color: $white;
}

// registrationNewHospital
@mixin registrationNewHospitalTitle {
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	word-break: keep-all;
	color: $main-font-color;
}

@mixin inputWrap {
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 500;
	font-size: 14px;
	word-break: keep-all;
	color: $main-font-color;
}

@mixin inputWrapTxt {
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	word-break: keep-all;
	color: $main-font-color;
}

// inviteCodeEnter
@mixin inviteCodeEnterTitle {
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 600;
	font-size: 20px;
	line-height: 20px;
	word-break: keep-all;
	color: $main-font-color;
	text-align: center;
}

// 인력 관리 페이지 searchStaff
@mixin title02 {
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 500;
	font-size: 18px;
	letter-spacing: -1%;
	line-height: 18px;
	color: $grey6;
}

@mixin title-span {
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 700;
	font-size: 13px;
	letter-spacing: -1%;
	line-height: 13px;
	color: $main-color;
}

@mixin input {
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 400;
	font-size: 13px;
	letter-spacing: -1%;
	line-height: 13px;
	color: $grey6;
}

@mixin label {
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 400;
	font-size: 14px;
	letter-spacing: -1%;
	line-height: 17.47px;
	color: $grey6;
}

@mixin td {
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 500;
	font-size: 14px;
	letter-spacing: -1%;
	line-height: 20.27px;
	color: $grey5;
}

// Login
@mixin logintitle {
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 700;
	font-size: 22px;
	letter-spacing: -1%;
	word-break: keep-all;
	color: $main-font-color;
}

@mixin logintxt {
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 500;
	font-size: 12px;
	letter-spacing: -1%;
	word-break: keep-all;
	color: #909090;
}

@mixin loginid {
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 600;
	font-size: 15px;
	letter-spacing: -1%;
	word-break: keep-all;
}

// searchMember
@mixin searchMemberTitle {
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 700;
	font-size: 28px;
	word-break: keep-all;
}

@mixin searchMemberNationality {
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 700;
	font-size: 14px;
	word-break: keep-all;
	color: $main-font-color;
}

@mixin searchMemberLabel {
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 700;
	font-size: 13px;
	word-break: keep-all;
	color: $main-font-color;
}

@mixin searchMemberButton {
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 700;
	font-size: 12px;
	word-break: keep-all;
	color: $menu-color;
	line-height: 12px;
}

// Modal - Patient Information
@mixin patientInfoBottom {
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 700;
	font-size: 16px;
	word-break: keep-all;
	color: $main-font-color;
	line-height: 12px;
}

// Modal - Patient Information - Payment
@mixin patientInfoPay {
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 700;
	font-size: 14px;
	word-break: keep-all;
	color: $main-font-color;
}

// join
@mixin joinMainTitle {
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 500;
	font-size: 20px;
	word-break: keep-all;
	color: $main-font-color;
}

@mixin joinMainBox {
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 500;
	font-size: 18px;
	word-break: keep-all;
	color: $main-font-color;
}

@mixin joinMainStaff {
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 600;
	font-size: 16px;
	word-break: keep-all;
	color: $main-font-color;
}

@mixin joinMainButton {
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 600;
	font-size: 14px;
	word-break: keep-all;
	color: $main-font-color;
}
